@model ResetPasswordVM 
@{
    ViewBag.Title = "ResetPassword";
}
 
<div class="container" style="padding-top: 200px;">
    <div class="row">
        <div class="col-md-6 create-product-form">
            <form asp-controller="Account" asp-action="ResetPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <input asp-for="Token" type="hidden" />
                <input asp-for="Email" type="hidden" />

                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span><br />

                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span><br />

                <div style="margin-top: 10px;" class="text-center">
                    <input type="submit" value="Reset My Password" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
